body {
  background: rgb(85, 85, 85);
  font-family: Roboto, sans-serif;
}

form {
  display: inline-flex;
}

h1 {
  color: rgb(34, 34, 34);
  font-size: 28px;
  margin: 0 auto;
  margin-bottom: 5px;
  text-align: center;
}

h4 {
  color: rgb(34, 34, 34);
  margin-bottom: -10px;
  text-align: center;
}

footer {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: -5px;
  text-align: center;
}

.weather-app {
  background: linear-gradient(rgb(52, 100, 109) 50%, rgb(86, 146, 156) 90%);
  border: 2px solid rgb(11, 53, 61);
  border-radius: 20px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1),
    -10px -5px 10px rgba(0, 0, 0, 0.1), 10px -5px 10px rgba(0, 0, 0, 0.1),
    -10px 5px 10px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  max-width: 700px;
  padding-top: 20px;
}

.search-bar {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.current-location-button {
  display: inline-flex;
}

.search-field {
  display: inline-flex;
  width: 300px;
}

.search-button {
  display: inline-flex;
}

.location {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
}

.fahrenheit-celsius {
  height: 30px;
  display: flex;
  align-items: flex-start;
  margin: auto;
  max-width: 100px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

input.btn-check {
  width: 100px;
}

label.temperature-scale {
  height: 30px;
  position: relative;
  margin: 0 auto;
}

.temperature-label {
  position: relative;
  bottom: 3px;
}

.current-date-time {
  position: relative;
}

.date {
  background: linear-gradient(rgb(43, 140, 153), rgb(30, 119, 134));
  border: 2px solid rgb(29, 69, 75);
  border-radius: 20px;
  color: rgb(19, 19, 19);
  font-size: 24px;
  font-weight: bold;
  margin: 10px auto;
  padding: 0 20px;
  text-align: center;
  width: fit-content;
}

#suffix {
  position: relative;
  right: 5px;
}

.current-time-statement {
  text-align: center;
  position: relative;
  top: -8px;
}

.current-time {
  font-weight: bold;
  font-size: 22px;
  color: rgb(19, 19, 19);
}

hr.current-time-hr {
  width: 50%;
  margin: 0 auto;
  height: 2px;
}

.current-temp-section {
  color: rgb(34, 34, 34);
  font-weight: bold;
  font-size: 18px;
  max-width: 300px;
  text-align: center;
}

.current-temp-hr {
  margin: 3px auto;
  position: relative;
  top: 5px;
  width: 150px;
}

.current-temp {
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-weight: bold;
}

#current-temperature-scale {
  color: rgb(0, 0, 0);
  font-size: 20px;
  position: relative;
  bottom: 20px;
}

.current-weather-section {
  color: rgb(22, 22, 22);
  font-size: 28px;
  font-weight: bold;
  position: relative;
  text-align: center;
  top: 20px;
}

.current-weather-description {
  position: relative;
  bottom: 16px;
}

.current-weather-description:first-letter {
  text-transform: capitalize;
}

.today-high-low {
  text-align: center;
  color: rgb(19, 19, 19);
  margin: auto;
  position: relative;
  bottom: 20px;
}

.today-high-temp {
  font-size: 36px;
  font-weight: bold;
}

.today-low-temp {
  font-size: 30px;
}

.today-high-temperature-scale {
  position: relative;
  top: -11px;
  font-size: 20px;
  font-weight: bold;
}

.today-low-temperature-scale {
  position: relative;
  top: -10px;
  font-size: 16px;
}

.current-conditions {
  background: rgb(77, 160, 156);
  border: 3px solid rgb(9, 72, 77);
  border-radius: 20px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
  max-width: 225px;
  margin: auto;
  position: relative;
  right: 8px;
  top: 20px;
}

.current-conditions-list {
  font-size: 18px;
  line-height: 35px;
  list-style: none;
  position: relative;
  top: 9px;
  padding: 0 5px;
}

#feels-like-temp-scale {
  position: relative;
  right: 4px;
}

.humidity-percent {
  position: relative;
  right: 4px;
}

.additional-current-conditions {
  margin: 20px auto;
  font-size: 18px;
}

.additional-current-conditions hr {
  bottom: 3px;
  height: 2px;
  margin: 5px auto;
  max-width: 150px;
  position: relative;
}

.additional-conditions {
  background: rgb(77, 160, 156);
  border: 3px solid rgb(9, 72, 77);
  border-radius: 50%;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
  height: 110px;
  margin: 0 auto;
  padding: 20px 5px;
  text-align: center;
  width: 110px;
}

.air-quality {
  max-width: 200px;
  text-align: center;
}

.air-quality-rating {
  font-size: 26px;
  font-weight: bold;
}

.air-quality-description {
  font-size: 17px;
}

.sunrise-sunset {
  max-width: 200px;
  text-align: center;
}

.current-sunrise-sunset {
  font-size: 18px;
  line-height: 30px;
}

.sunrise-sunset-position {
  position: relative;
  right: 1px;
}

#sunrise-hour {
  position: relative;
  left: 2px;
}

#sunrise-minutes {
  position: relative;
  right: 2px;
}

.sunset {
  position: relative;
  top: 6px;
}

#sunset-hour {
  position: relative;
  left: 2px;
}

#sunset-minutes {
  position: relative;
  right: 2px;
}

.visibility {
  max-width: 200px;
  text-align: center;
}

.current-visibility {
  font-size: 24px;
}

.visibility-position {
  position: relative;
  top: 15px;
}

hr.section-break {
  height: 2px;
}

.future-forecast {
  color: rgb(34, 34, 34);
  font-size: 18px;
  text-align: center;
}

.forecast-date-border {
  background: linear-gradient(rgb(43, 140, 153), rgb(30, 119, 134));
  border: 2px solid rgb(29, 69, 75);
  border-radius: 15px;
  padding: 0 10px;
}

.forecast-weather-icon {
  font-size: 36px;
}

.forecast-high-temp {
  font-size: 22px;
  font-weight: bold;
}

.source-code-link {
  color: darkblue;
  text-decoration: none;
}

.air-quality-link {
  color: darkblue;
  text-decoration: none;
}
